@import '../../styles/global.scss';

.smallModal {
    margin: 0 10px;

    &_body {
        display: flex;
    }

    &_img {
        position: relative;
        margin-right: 12px;

        img {
            width: 120px;
            height: 120px;
        }
    }

    &_info {
        display: flex;
        flex-direction: column;

        h2 {
            font-size: 14px;
            line-height: 14px;
            margin: 0;
            margin-bottom: 8px;
            color: $black;
        }
    }

    &_description {
        width: 100%;
    }

    &_about {
        margin: 0;
        font-size: 12px;
        line-height: 1.2;
        color: $black;
    }

    &_author {
        font-size: 10px;
        margin: 0;
        line-height: 19px;
        color: $grey;
        height: 19px;
        width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_like {
        & > div {
            font-size: 12px;

            &:first-child {
                width: 20px;
                height: 20px;
            }
        }
    }

    &_footer {
        margin-top: 2px;
        display: flex;
        align-items: center;
        padding-bottom: 15px;
        justify-content: space-between;

        a {
            font-size: 12px;
            line-height: 1.2;
            text-decoration: underline;
            color: $black;
        }
    }
}

@media (min-width: 651px) {
    .smallModal {
        margin: 0 20px;

        &_img {
            margin-right: 20px;
    
            img {
                width: 155px;
                height: 155px;
            }
        }
    
        &_info {
            h2 {
                font-size: 18px;
                line-height: 18px;
            }
        }
    
        &_about {
            font-size: 16px;
            line-height: 22px;
        }
    
        &_author {
            width: 155px;
        }
    
        &_like {
            & > div {
                font-size: 14px;
    
                &:first-child {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        &_footer {
            margin-top: auto;
            padding-bottom: 10px;
    
            a {
                font-size: 14px;
            }
        }
    }
}
    