@import '../../styles/global.scss';

.mainModalBackground {
    position: fixed;
    z-index: 12500;
    right: 0px;
    bottom: 0px;
    top: 0px;
    left: 0px;
    background-color: rgba($black, .8);

    .mainModalBody {
        max-width: 870px;
        width: calc(100% - 60px);
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;

        article > div {
            max-width: 490px;
            width: 100%;
            height: 100%;
            flex: 1 1 auto;
        }

        article > section {
            padding: 20px 15px;
            flex-grow: 1;
        }

        .mainModalClose {
            position: absolute;
            right: 0;
            top: -35px;
        }
    }
}
