@import '../../styles/global.scss';

.mapFullModal {
    &Window {
        width: 400px;
        background-color: #fff;
        box-shadow: 0px -2px 8px rgba(92, 92, 92, 0.25);
        bottom: 0;
        left: 0;
        top: 0;
        position: absolute;
        transition: transform 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        z-index: 6000;
        transform: translateX(-426px);
        animation-name: open;
        animation-duration: .3s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
    }

    &LessBtn {
        width: 26px;
        height: 35px;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 20px;
        right: -26px;
        box-shadow: 0px 1px 8px rgba(92, 92, 92, 0.25);
        cursor: pointer;
    }

    &Body {
        flex-grow: 1;
        position: relative;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;

        & > article {
            padding: 0;
        }
    }
}

@keyframes open {
    0% {
        display: none;
        opacity: 0;
        transform: translateX(-426px);
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
        transform: translateX(0);
    }
}
