@import '../../styles/global.scss';

.main {
    padding: 62px 10px 67px;
    position: relative;

    h2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 13px;
        color: $black;
    }

    &_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 14px;
        grid-row-gap: 12px;
        -webkit-overflow-scrolling: touch;

        section:nth-child(5n) {
            grid-column: 1 / 3;
         }
    }
}