@import '../../styles/global.scss';

.main {
    padding: 62px 10px 67px;
    position: relative;
    max-width: 930px;
    margin: 0 auto;

    h2 {
        font-size: 18px;
        line-height: 24px;
        margin: 0;
        margin-bottom: 13px;
        color: $black;
    }

    &_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 14px;
        grid-row-gap: 15px;
        -webkit-overflow-scrolling: touch;
        

        section:nth-child(5n) {
            grid-column: 1 / 3;
        }
    }
}

@media (min-width: 651px) {
    .main {
        padding: 82px 30px 20px;
    
        h2 {
            font-size: 24px;
            margin-bottom: 24px;
        }
    
        &_container {
            grid-template-columns: 1fr 1fr 1fr;
            grid-column-gap: 30px;
            grid-row-gap: 30px;
        }

        section:nth-child(5n) {
            grid-column: auto;
        }
    }
}