@import '../../styles/global.scss';

.postCard {
    // margin-top: 45px;
    position: relative;
    padding: 45px 0 50px;

    &Image {
        width: 100%;
        padding-bottom: 100%;
        position: relative;
        overflow: hidden;

        &_container {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }

    &Info {
        padding: 0 10px 20px 10px;
    }

    &Author {
        font-size: 12px;
        margin: 0;
        line-height: 16px;
        color: $grey;
    }

    &Title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 5px;

        h1 {
            color: $black;
            font-size: 18px;
            line-height: 24px;
            margin: 0;
        }
    }

    &Adress {
        width: 100%;
        margin-top: 15px;

        & > div {
            font-size: 14px;
        }
    }

    &Like {
        margin-top: 15px;

        & > div {
            font-size: 14px;

            &:first-child {
                width: 24px;
                height: 24px;
            }
        }
    }

    &About {
        font-size: 14px;
        line-height: 18px;
        color: $black;
        margin: 0;
        margin-top: 15px;
    }

    &Comments {
        padding: 14px 10px 0;

        & > p {
            margin-bottom: 14px;
            word-wrap: break-word
        }
    }

    &TextInput {
        padding: 0 10px;
        margin-bottom: 14px;
        position: relative;

        &_input {
            color: $black;
            outline: none;
            border-radius: 6px;
            border: none;
            background-color: $lightGrey;
            padding: 8px 30px 8px 18px;
            height: 35px;
            width: 100%;
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            line-height: 18px;
        }

        &_button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 10px;
            top: 0;
            bottom: 0;
        }
    }
}

.border {
    margin: 0 10px;
    border-bottom: 1px solid $lightGrey;
}
