@import '../../styles/global.scss';

.header {
    box-sizing: border-box;
    border-bottom: 1px solid $lightGrey;
    background-color: $white;
    display: flex;
    height: 45px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

@media (min-width: 651px) {
    .header {
        height: 60px;

        .logo {
            margin-left: 30px;

            svg {
                width: 91px;
                height: 40px;
            }
        }

        .instagram  {
            margin-right: 20px;
        }
    }
}

.active {
    font-weight: 700;
    border-bottom: 1px solid #000;
}

.backIcon {
    display: flex;
    align-items: center;
}

.logo {
    display: block;
    margin-top: 9px;
    margin-left: 10px;
}

.instagram {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    align-self: center;
}
