@import '../../styles/global.scss';

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.main {
	background-color: #fff;
	overflow: hidden;
	position: relative;
	
	.photoCount {
		position: absolute;
		top: 13px;
		right: 16px;
		background-color: rgba(255, 255, 255, .5);
		border-radius: 13px;
		height: 23px;
		width: 48px;
		text-align: center;
		line-height: 23px;
		color: $black;
		font-size: 12px;
		z-index: 2;
	}
}
  
  .swiper {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    touch-action: pan-y;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }

.swiper {
    div {
        flex: 0 0 auto;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.imageHolder {
  overflow: hidden;
  padding-bottom: 100%;

  img {
    // width: 100%;
    // height: 100%;
    user-select: none;
    // position: absolute;
    // left: 0;
    // top: 0;
  }
}
  
img {
    object-fit: contain;
}
  
.move {
    display: flex;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
}

.authorText {
	font-size: 12px;
	margin: 0 10px;
	line-height: 16px;
	color: $grey;
	min-height: 18px;
}
  
.back {
    left: 5px;
}

.next {
    right: 5px;
}

