@import '../../styles/global.scss';

.slider {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.main {
	background-color: #fff;
	overflow: hidden;
	position: relative;
	
	.photoCount {
		position: absolute;
		top: 13px;
		right: 16px;
		background-color: rgba(255, 255, 255, .5);
		border-radius: 13px;
		height: 23px;
		width: 48px;
		text-align: center;
		line-height: 23px;
		color: $black;
		font-size: 12px;
		z-index: 2;
	}
}
  
  .swiper {
    display: flex;
    overflow-x: visible;
    transition-property: transform;
    will-change: transform;
    width: 100%;
    height: 100%;
    align-items: center;
    flex-direction: row;
    touch-action: pan-y;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
  }

.swiper {
    div {
        flex: 0 0 auto;
        overflow: hidden;
        width: 100%;
        height: 100%;
    }
}

.imageHolder {
  overflow: hidden;
  padding-bottom: 100%;
  position: relative;

  img {
	user-select: none;
	object-fit: contain;
	width: 100%;
  }
}
  
.move {
	width: 20px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
    border-radius: 50%;
    background-color: rgba($grey, 0.9);
	border: 0;
	cursor: pointer;
	
	&Container {
		width: 40px;
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;

		&_left {
			left: 0;
		}
		&_right {
			right: 0;
		}
	}
}


.authorText {
	font-size: 12px;
	margin: 0 10px;
	line-height: 16px;
	color: $grey;
	min-height: 18px;

	&Inside {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		color: $white;
		margin: 0 5px;
	}
}
  
.back {
    left: 5px;
}

.next {
    right: 5px;
}

