@import '../../styles/global.scss';

.footer {
    align-items: center;
    box-shadow: 0px -1px 2px rgba(116, 116, 116, 0.2);
    background-color: $white;
    display: flex;
    padding: 0 10px;
    height: 50px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10000;

    &_inHeader {
        position: absolute;
        width: auto;
        height: 60px;
        left: 50%;
        transform: translateX(-50%);
        box-shadow: none;

        li {
            &:first-child {
                padding-right: 11px;
            }
            &:last-child {
                padding-left: 11px;
            }
        }
    }

    nav {
        width: 100%;
        height: 100%;
    }

    &_nav {
        align-items: center;
        display: flex;
        justify-content: space-between;
        height: 100%;
        position: relative;

        li {
            text-align: center;
            line-height: 100%;
            width: 50%;

            &:first-child {
                padding-right: 29px;
                text-align: right;
            }
            &:last-child {
                padding-left: 29px;
                text-align: left;
            }
        }

        &_inHeader {
            li {
                &:first-child {
                    padding-right: 11px;
                }
                &:last-child {
                    padding-left: 11px;
                }
            }
        }
    }
}

label {
    width: 100%;
    height: 100%;
}

input[type=file] { 
    visibility: hidden;
    position: absolute;
  }
