@import '../../styles/global.scss';

.mainCard {
    width: 100%;

    &_footer {
        align-items: center;
        display: flex;
        margin: 0;
        margin-top: 8px;
        justify-content: space-between;
    }
}

.cardImage {
    display: block;
    width: 100%;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    flex: 1 0 0%;

    &_container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

