@import '../../styles/global.scss';

.shareBtn {
    width: 90px;
    height: 25px;
    border-radius: 4px;
    background-color: rgb(71, 122, 255);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    span {
        font-size: 12px;
        color: $white;
        font-weight: 700;
        line-height: 12px;
    }
}
