@import '../../styles/global.scss';

.spinnerContainer {
    width: 65px;
    height: 65px;
}

.loader {
    width:65px;
    height:65px;
    display:inline-block;
    padding:0px;
    border-radius:100%;
    border:5px solid;
    border-top-color: $darkRed;
    border-bottom-color: rgba(255,255,255, 0);
    border-left-color: $darkRed;
    border-right-color: rgba(255,255,255, 0);
    -webkit-animation: loader4 1s ease-in-out infinite;
    animation: loader4 1s ease-in-out infinite;
 }
 @keyframes loader4 {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
 }
 @-webkit-keyframes loader4 {
    from {-webkit-transform: rotate(0deg);}
    to {-webkit-transform: rotate(360deg);}
 }


