body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#map {
  flex-grow: 1;
  background-color: #fff;
}

.zoom-btn-container {
  right: 10px !important;
}

.map-round-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 1px 2px 8px rgba(40, 40, 40, 0.25);
  cursor: pointer;
}

.map-round-btn:active {
  background-color: #F6F6F6;
}

.map-round-btn-sm {
  width: 36px;
  height: 36px;
}

#cur-geo {
  right: 10px !important;
  bottom: 20px !important;
}

.cluster > img {
  width: 21px;
}

.cluster > div {
  top: -3px !important;
}

.map-search-btn {
  position: absolute;
  top: 20px !important;
  right: 10px !important;
  transition: visibility 0.3s ease;
  z-index: 5000;
}

.hide-search-btn {
  visibility: hidden;
  display: none;
}

#zoom-out {
  margin-top: 10px;
}