@import '../../styles/global.scss';

.mapPage {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

@media (min-width: 651px) {
    .mapPage {
        top: 60px;
        bottom: 0;
    }
}

.map {
    position: relative;
    height: 100%;
}
    