@import '../../styles/global.scss';

.mapPage {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.map {
    position: relative;
    height: 100%;
}
    