@import '../../styles/global.scss';

.mapPage {
    position: absolute;
    top: 45px;
    right: 0;
    left: 0;
    bottom: 50px;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    &Loading {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (min-width: 651px) {
    .mapPage {
        top: 60px;
        bottom: 0;
    }
}

.map {
    position: relative;
    height: 100%;
}
    